@column-size: 256px;
@padding-left: ((100%-@max-width)/2);
@padding-right: ((100%-@max-width)/2);
@padding-top: 16px;
@padding-bottom: 16px;
@max-width: 80%;
@max-height: 80%;

h1 {
    font-family: "Bungee Shade", cursive;
    font-size: 40px;
    padding-left: @padding-left;
    padding-right: @padding-right;
}

.modal {
    z-index: 1;
    display: none;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.frame {
    max-width: 95%;
    max-height: 95%;
    display: block;
    margin: auto auto;
}

.gallery {
    padding-left: @padding-left;
    padding-right: @padding-right;
    column-width: @column-size;
    column-gap: 8px;
    max-width: @max-width;
    margin: auto;
}

.thumbnail {
    min-width: @column-size;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        filter: brightness(50%);
    }
}

.signature {
    float: right;
    display: block;
    padding-top: 16pt;
    padding-bottom: 16pt;
    padding-right: @padding-right;
}