body {
  background-color: whitesmoke;
}
a {
  color: inherit;
  text-decoration: inherit;
}
h1 {
  line-height: 40px;
  font-size: 40px;
  font-family: "Libre Barcode 39 Extended Text", cursive;
  vertical-align: middle;
}
h1 img {
  max-height: 40px;
  vertical-align: middle;
  float: right;
}
.lightbox {
  display: none;
  /* disabled by default */
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: space-between;
  align-items: center;
}
.frame {
  max-width: calc(100% - 128px*2);
  max-height: 90%;
  object-fit: contain;
}
.arrow {
  width: 128px;
}
/* Change arrows for mobile */
@media (max-width: 760px) {
  .frame {
    max-width: calc(100% - 32px*2);
  }
  .arrow {
    width: 32px;
  }
}
.grid {
  column-width: 320px;
  column-gap: 8px;
  margin: auto;
}
.thumbnail {
  min-width: 320px;
  width: 100%;
  border-radius: 2%;
  cursor: pointer;
}
.thumbnail:hover {
  filter: brightness(50%);
}
